body { /* Set font family and size for entire HTML body element */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea { /* Style textarea elements with transparent background, no border, and padding */
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description { /* Preserve white-space and wrap text as needed for elements with class "description" */
  white-space: pre-wrap;
}

.time-block { /* Round corners of elements with class "time-block" */
  border-radius: 15px;
}

.row { /* Add white border at top of elements with class "row" */
  border-top: 1px solid white;
}

.hour { /* Style elements with class "hour" with white background, black text, and dashed top border */
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past { /* Style elements with class "past" with gray background and white text */
  background-color: #d3d3d3;
  color: white;
}

.present { /* Style elements with class "present" with reddish background and white text */
  background-color: #ff6961;
  color: white;
}

.future { /* Style elements with class "future" with green background and white text */
  background-color: #77dd77;
  color: white;
}

.saveBtn { /* Style elements with class "saveBtn" with blue background, white text, and border properties */
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover { /* Increase font size and apply transition effect for "i" elements inside "saveBtn" on hover */
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
